/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-07-10, 09:12:34
    Author     : RENT
*/

* { box-sizing: border-box; }
body { font-family: 'Lato', sans-serif; 
       font-size: 16px; 
       color: #333;
       line-height: 22px;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

a:hover {color:#cc6600; }

.container-fluid {
    position: relative;
    text-align: center;
    
}

.container-fluid > .container {
    display: inline-block;
    text-align: left;
    width: 949px;
    vertical-align: top;
}

#top {
    padding: 10px 0px;
    background: #343434;
    color: #999;
}
#top a {
    color: #999;
}

#top a:hover {
    color: #ddd;
}

#top .menu {
    float: left;
    max-width: 750px;
}

#top .menu ul > li {
list-style: none;
float: left;
margin-right: 10px;
padding-right: 10px;

}

#top  .menu {
    float: left; background: #343434;
}

#top .subsc {
        float: right;
color: none;
}
.logo {float:left; }

.search {float:right;}
#FastSearch {
    width:300px;

    
    header { 
     margin: 40px 0px;
    }